* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #263238;
}

header {
  background: #fafafa;
  display: flex;
  width: 100%;
  height: 10vh;
}

i {
  color: #009688;
  margin: 2%;
}

.nav-links,
.right-logo-container {
  display: flex;
}

.left-logo-container {
  width: 10%;
}

.left-logo-container img {
  height: 100%;
}

.nav-container {
  width: 75%;
}

.right-logo-container {
  width: 15%;
  border-left-style: solid;
  border-bottom-style: solid;
  border-color: #282727;
  border-width: 1px;
}

.right-logo-container img {
  height: 100%;
}

nav {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  color: #009688;
}

nav ul {
  width: 20%;
  display: flex;
  justify-content: space-around;
  margin-right: 15%;
}

nav ul li {
  list-style: none;
}

main {
  display: flex
}

section {
  width: 85%;
}

.hero-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./img/hero.jpeg");
  height: 30vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  position: absolute;
  bottom: 22%;
  left: 2%;
  color: white;
}

.hero-text h1 {
  font-size: 55px;
}

.employee-images-container,
.cta {
  display: flex;
}

.employee-images-container {
  justify-content: space-around;
}

.image-container {
  position: relative;
  margin: 1%;
}

.image-container img {
  width: 100%;
  height: auto;
}

.employee-image-text {
  position: absolute;
  top: 70%;
  right: 0%;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.employee-image-text h5 {
  position: absolute;
  right: 0%;
}

.cta {
  margin-top: 1%;
  margin-left: 1%;
  padding-bottom: 3%;
}

.cta-text {
  color: #009688;
}

.employee-display-container {
  background: #fafafa;
}

aside {
  width: 15%;
  border-left-style: solid;
  border-color: #282727;
  border-width: 1px;
}

.aside-content {
  background: #fafafa;
}

.menu-links {
  text-align: center;
}

.menu-links li {
  list-style: none;
  border-bottom-style: solid;
  border-color: #282727;
  border-width: 1px;
}

.employee-footer,
.footer-logo-container {
  display: flex;
}

.aside-footer {
  background: #263238;
}